# Build artefacts
# ignore all build files
1_source/build-uv/module-signal-pool/

# Editor / OS
.vscode/
.DS_Store
Thumbs.db

# SCons
.sconsign.dblite

# Backup files
*~
*.bak

#ignore vcast build data
vcastDataServer.log
1_source/management
1_source/xml_data
3_test/dynamic/module-signal-pool/vc_project/module-signal-pool_project/build.vcw
3_test/dynamic/module-signal-pool/vc_project/module-signal-pool_project/vcdb_out.txt
3_test/dynamic/module-signal-pool/vc_project/module-signal-pool_project/build/
3_test/dynamic/module-signal-pool/vc_project/module-signal-pool_project/constants/
3_test/dynamic/module-signal-pool/vc_project/module-signal-pool_project/lock/
3_test/dynamic/module-signal-pool/vc_project/module-signal-pool_project/logs/
*.QIK
3_test/dynamic/module-signal-pool.db